// VARIABLES
$color-light: hsl(46, 100%, 97%);
$color-medium: hsl(38, 16%, 76%);
$color-dark: hsl(34, 6%, 24%);
$accent-light: hsl(17, 83%, 54%);
$accent-dark: hsl(40, 4%, 14%);

$vertical-breakdown: 600px;

// DEFAULT VALUES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  min-height: 100vh;

  #drum-machine {
    padding: 40px;
    width: 700px;
    max-width: 100%;
    border-radius: 15px;
    @media (max-width: $vertical-breakdown) {
      padding: 10px;
    }

    #display {
      margin-bottom: 40px;
      padding: 20px;
      text-align: center;
      border-radius: 10px;
      @media (max-width: $vertical-breakdown) {
        margin-bottom: 10px;
        padding: 10px;
      }
    }

    #buttons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: max-content;
      justify-content: center;
      gap: 20px 30px;
      @media (max-width: $vertical-breakdown) {
        gap: 10px;
      }

      .drum-pad {
        height: 100px;
        border-radius: 10px;
        @media (max-width: $vertical-breakdown) {
          height: 70px;
        }
      }
    }
  }
}
