// VARIABLES
$color-super-light: #fffcf2;
$color-light: #ccc5b9;
$color-medium: #403d39;
$color-dark: #252422;
$accent-light: #eb5e28;

$vertical-breakdown: 500px;

$font-em: "Patua One", cursive;
$font-normal: "Montserrat", sans-serif;

// DEFAULT VALUES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-em;
  // border: 1px solid;
}

#main-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  min-height: 100vh;
  background-color: $color-super-light;

  #drum-machine {
    width: 500px;
    max-width: 100%;

    #header {
      margin-bottom: 10px;
      font-size: 20px;
      color: $color-dark;
    }

    #interface {
      padding: 10px;
      background-color: $color-light;
      border-radius: 10px;

      #display {
        margin-bottom: 10px;
        height: 80px;
        line-height: 80px;
        background-color: $color-medium;
        color: $color-super-light;
        font-size: 24px;
        text-align: center;
        border-radius: 10px;
        i {
          color: $accent-light;
        }
      }

      #buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: max-content;
        justify-content: center;
        gap: 10px;
        padding: 20px;
        background-color: $color-medium;
        border-radius: 10px;

        .drum-pad {
          height: 70px;
          background-color: $color-dark;
          color: $color-super-light;
          border: none;
          border-radius: 5px;
          font-size: 50px;
          transition: background-color 0.3s;
          @media (max-width: $vertical-breakdown) {
            font-size: 40px;
          }

          @mixin btn-active {
            background-color: $accent-light;
            border: 1px solid $color-super-light;
          }

          btn-active,
          &:hover {
            @include btn-active;
          }
        }
      }
    }
  }
}
